div(class="container")
	nav.header(class="navbar navbar-default")
		div(class="container-fluid")
			div(class="navbar-header")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
					span(class="sr-only")
						| Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a.logo(class="navbar-brand" ui-sref="home")
					| Geekymate
			div(style="height: 1px;" aria-expanded="false" id="navbar" class="navbar-collapse collapse")
				ul(class="nav navbar-nav")
					li(ng-class="{active: Starter.state.includes('home')}")
						a(ui-sref="home")
							| Главная
					li(class="nav_button" ng-class="{active: Starter.state.includes('docs')}")
						a(ui-sref="docs")
							| Документация
					li(class="nav_button" ng-class="{active: Starter.state.includes('testList')}")
						a(ui-sref="testList")
							| Тесты
					li(class="nav_button" ng-class="{active: Starter.state.includes('testForm')}")
						a(ui-sref="testForm")
							| Создание теста
				ul(class="nav navbar-nav navbar-right" ng-class="{active: Starter.state.includes('login')}")
					li(cl§ass="nav_button")
						a(ui-sref="login")
							| Вход
