div.page_login(class="container")
	form(class="signin")
			h1(class="log_lab text-center")
				| Вход
			input(id="inputEmail" class="form-control sign_field" placeholder="Email address" required="" autofocus="" type="email")
			input(id="inputPassword" class="form-control sign_field" placeholder="Password" required="" type="password")
			button(class="btn btn-lg btn-default btn-block sign_field" type="submit")
				| Войти
