@import "../../../stylesheets/mixins.scss";
@import "../../../stylesheets/variables.scss";


.page-test-form {
	margin-bottom: 20px;

	ul
	li {
		list-style: none;
	}

	ul {
		margin-top: 20px;
	}

	li {
		margin: 10px;

		&:last-of-type {
			margin-bottom: 30px;
		}
	}

	.main {
		display: flex;
	}
	.success-message {
		color: #449d44;
	}

	.header {
		color: #555;
	}

	.answer {
		display: flex;
		align-items: center;
	}

	.radio {
		margin: 0;
		margin-right: 10px;
	}
}
