div(class="container")
	div.page_home(class="jumbotron")
		h2
			| Что такое Geekymate?
		p
			| Geekymate это серсвис облегчающий проведение тестов, мы используем чат-ботов Telegram для проведения тестов, что позволяет выполнять минимум работы преподавателю. Сервис так же показывает статистику прохождений теста вашими учениками.
		p
			a(class="btn btn-lg btn-primary" ui-sref="docs" role="button")
				| Документация
	div(class="row")
		div(class="col-lg-4")
			h2
				| Почему это удобно?
			p
				| Прежде всего наш сервис позволяет избежать долгой и сложной регистрации. Быстрая и легкая регистрация это всегда приятно.
		div(class="col-lg-4")
			h2
				| Как это работает?
			p
				| Преподаватель разрабатывает и публикует тест. В свою очередь бот проводит тестирование ученика в мессенджере. Всего за пару простых шагов, делаете тест один раз и пользуетесь.
		div(class="col-lg-4")
			h2
				| Можно ли отследить результаты?
			p
				| Geekymate предоставляет возможность отследить результаты учеников, а так же узнать время выполнения теста и статистику выполнения теста всеми вашими учениками.
