div(class="container")
	div.page_home(class="jumbotron")
		h2
			| Что такое Geekymate?
		p
			| Geekymate - современный инструмент преподавателя. Вашим студентам достаточно обладать мобильным устройством с мессенджером Telegram на борту и Вы готовы к проведению тестирования! Подробнее о процессе авторизации и описание дальнейших шагов доступно в Документации.
		p
			a(class="btn btn-lg btn-primary" ui-sref="docs" role="button")
				| Документация
	div(class="row")
		div(class="col-lg-4")
			h2
				| Удобство использования
			p
				| Для работы с Geekymate не требуется установки дополнительных программ. Студенты проходят тесты в привычном мессенджере и не привязаны к месту или времени прохождения теста.
		div(class="col-lg-4")
			h2
				| Цель проекта
			p
				| Сделать процесс обучения более простым и эффективным. Geekymate - открытое и бесплатное решение.
		div(class="col-lg-4")
			h2
				| Развитие проекта
			p
				| В дальнейшем в Geekymate появятся новые функции (размещение обучающих материалов и курсов), а также будет реализована на других популярных мессенджерах (WhatsApp, Facebook Messenger)
