section.wrapper(
  ng-controller="StarterController as Starter"
  pointer-events=""
  third-parties=""
)

  include ../subModules/Header/header.jade
  main.main(ui-view="")
  include ../subModules/Footer/footer.jade
